# GIT
alias ga="git add"
alias gc="git commit"
alias gs="git status"
alias gd="git diff"
alias gb="git branch"
alias gp="git push"
alias gm="git checkout master"
alias gl="git log --oneline --decorate"

# ENV
alias ae='deactivate &> /dev/null; source ./env/bin/activate'
alias de='deactivate'

# BASH
alias la='ls -l'
alias lah='ls -lah'
alias path='echo -e ${PATH//:/\\n}'

# NAVIGATE
alias ..="cd .."
